{# Define the metadata tags for the individual Openstack instances #}
{# Output should be TF map _entries_, not a map itself #}

{% macro instance_tags(host) %}
{% set tags = {} %}
{% set _ = tags.update({ 'ansible_user': host.ansible_user }) if host.ansible_user is defined %}
{% set _ = tags.update({ 'host_template': host.host_template }) if host.host_template is defined %}
{% set _ = tags.update({ 'groups': host.groups | join(', ') }) if host.groups is defined %}
{% set _ = tags.update({ 'tls': host.tls | string }) if host.tls is defined %}
{% for k, v in tags.items() %}
            {{ k }} = "{{ v }}"{{ "," if not loop.last else "" }}
{% endfor %}
{%- endmacro %}