# Copyright 2023 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# ------- Global settings -------
env_prefix = "{{ name_prefix }}"
aws_region = "{{ infra_region }}"
# ------- CDP Environment Deployment -------
deployment_template = "{{ deployment_template }}"

# ------- Network Settings -------
ingress_extra_cidrs_and_ports = {
 cidrs = {{ ingress_extra_cidrs_and_ports['cidrs'] | to_json }},
 ports = {{ ingress_extra_cidrs_and_ports['ports'] }}
}
