# Copyright 2021 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[cloudera_manager]
ip-10-10-11-191.eu-west-1.compute.internal ansible_host=52.211.97.38 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem

[cluster_master_nodes]
ip-10-10-11-191.eu-west-1.compute.internal ansible_host=52.211.97.38 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem host_template=Master1

[cluster_worker_nodes]
ip-10-10-2-62.eu-west-1.compute.internal ansible_host=63.35.213.171 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem
ip-10-10-15-242.eu-west-1.compute.internal ansible_host=34.245.231.13 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem
ip-10-10-12-158.eu-west-1.compute.internal ansible_host=3.249.133.103 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem

[cluster_worker_nodes:vars]
host_template=Workers

[cluster:children]
cluster_master_nodes
cluster_worker_nodes

[db_server]
ip-10-10-11-191.eu-west-1.compute.internal ansible_host=52.211.97.38 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem

[custom_repo]
ip-10-10-11-191.eu-west-1.compute.internal ansible_host=52.211.97.38 ansible_user=centos ansible_ssh_private_key_file=~/.ssh/mykey.pem

[deployment:children]
cluster
cloudera_manager
