# Parcel Distro
- name: Determine preferred Parcel Distribution
  ansible.builtin.set_fact:
    init__parcel_distro: "{{ parcel_distro | default(default_parcel_distro) }}"

# Read in Dynamic Inventory
- name: Seek Inventory Template in Definition Path
  register: __di_template_stat
  ansible.builtin.stat:
    path: "{{ init__dynamic_inventory_template }}"

# inventory_dir is not defined when a user passes in an inventory with -i, so it is a useful check
# No point loading Dynamic Inventory if we are not doing infrastructure in this run
- name: Handle Dynamic Inventory Template
  when:
    - inventory_dir is defined
    - __di_template_stat.stat.exists
  block:
    - name: Load in Dynamic Inventory Template
      include_tasks: refresh_inventory.yml
      vars:
        include_inventory_file: "{{ __di_template_stat.stat.path }}"

    - name: Print Dynamic Inventory groups to debug at Verbosity 3
      debug:
        msg: "{{ groups }}"
        verbosity: 3

    - name: Check expected minimum host groups appear in Inventory
      ansible.builtin.assert:
        quiet: yes
        that:
          - groups.cluster is defined
          - groups.cloudera_manager is defined
        fail_msg: "Parsed Inventory Template did not contain minimum expected groups for a Cloudera Cluster deployment"

    - name: Check a custom_repo is part of the cluster definition if using Download Mirror
      when: use_download_mirror | default(default_enable_download_mirror) | bool
      ansible.builtin.assert:
        that: "'custom_repo' in groups"
        fail_msg: "You must have a custom_repo in your Cluster Inventory when using Download Mirror"

    - name: Extract list of hosts from Dynamic Inventory Template
      when: groups.all | length > 0
      ansible.builtin.set_fact:
        __dynamic_inventory_host_list: "{{ groups.all | difference(['localhost']) }}"

    - name: Set Dynamic Inventory host count in Globals
      when: __dynamic_inventory_host_list | length > 0
      ansible.builtin.set_fact:
        globals: "{{ globals | default({}) | combine( __di_entry | default(omit), recursive=True ) }}"
      loop_control:
        loop_var: __di_entry
      loop:
        - dynamic_inventory:
            vm:
              count: "{{ __dynamic_inventory_host_list | count }}"
              os: "{{ init__parcel_distro }}"
  always:
    - name: Remove Dynamic Inventory Template from current inventory
      include_tasks: refresh_inventory.yml